<div class='p-3'>
  <%= form_for ([@post, @post.comments.build])  do |f| %>
    <%=f.text_area :body,  placeholder: 'Comment',  class:'form-control' %>
    <br>
    <%=f.submit  class: 'btn btn-outline-info center-block' %>
    <% end %>
</div>
